body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #faf6e9;
    margin: 0%;

  }
  
  section {
    text-align: center;
    width:85%;
    max-width: 450px;
    height: auto;
    background-color: #ece8d9;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .up {
    display: flex;
    justify-content: flex-start;
    font-family: 'Rajdhani', sans-serif;
  }
  
  .up h3 {
    color: rgb(11, 11, 11);
    font-family: 'Orbitron', sans-serif; 
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Rajdhani', sans-serif;
  }
  
  #display {
    background-color: #494949;
    border-radius: 15px;
    width: 85%;
    height: 90px;
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
  }
  
  .buttons {
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2vw;
  }
  
  button {
    background-color: #fffdf6;
    padding: 1.5vb 3vh;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
   }
  
  .equal {
    background-color: rgb(232, 125, 125);
    color: white;
    grid-column: span 2;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
  
  }
  
  .reset {
    background-color: #353842;
    color: white;
    font-weight: bold;
    grid-column: span 2;
    font-family: 'Rajdhani', sans-serif;
  }
